<script type="text/javascript">
  Stripe.setPublishableKey("<%= ENV['STRIPE_TEST_PUBLISHER_KEY'] %>");
</script>

<%= bootstrap_devise_error_messages! %>
<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4><%= t('.sign_up', default: 'Sign up') %></h4>
  </div>
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form', class: "cc_form" }) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      <%= fields_for( :payment) do |p| %>
      <div class="row col-md-12">
        <div class="form-group col-md-4 no-padding-left">
          <%= p.label :card_number, "Card Number", data: {stripe: 'label'}%>
          <%= p.text_field :card_number, class: "form-control", required: true, data: {stripe: 'number'} %>
        </div>
        <div class="form-group col-md-2">
          <%= p.label :card_cvv, "Card CVV", data: {stripe: 'label'} %>
          <%= p.text_field :card_cvv, class: "form-control", required: true, data: {stripe: 'cvv'} %>
        </div>
        <div class="form-group col-md-6">
        <div class="col-md-12">
          <%= p.label :card_expires, "Card Expires", data: {stripe: 'label'} %>
        </div>
        <div class="col-md-3">
          <%= p.select :card_expires_month, options_for_select(Payment.month_options),
                                            {include_blank: 'Month'},
                                             data: {stripe: 'exp_month'},
                                            class: "form-control",
                                            required: true%>
        </div>
               <div class="col-md-3">
          <%= p.select :card_expires_year, options_for_select(Payment.year_options.push),
                                            {include_blank: 'Year'},
                                            class:"form-control",
                                            required: true, data: {stripe: 'exp_year'} %>
        </div>
      </div>
      </div>

      </div>
        <p class="lead label label-default col-md-4">Copy paste the following TEST card no: 378282246310005</p>
        <p class="lead label label-primary col-md-2 col-md-offset">User any 3 digit CVV</p>
        <p class="lead label label-success col-md-4">User any month and year</p><br>
        <p class="col-md-2"></p>

 

      <% end %>
      <%= f.submit t('.sign_up', default: 'Sign up'), class: 'btn btn-lg btn-primary center' %>
    <% end %>
  </div>
</div>
<%= render 'devise/shared/links' %>
