<%- model_class = Image -%>
<div class="page-header">
  <h1>Feed</h1>
<div class="pull-right">
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_image_path,
            :class => 'btn btn-primary' %>
            </div>
</div>
    <% @images.each do |image| %>
    <div class="card col-md-3" style="width: 20rem;">
  <div class="card-block"><%=image.user_id%><%= current_user.id%>
    <h4 class="card-title"><%= link_to image.name, image_path(image) %></h4>
    <p class="card-text"><%= image_tag image.picture.url, size: '100x100' %></p>
    <small class="text-muted"><%= image.user.try(:email) %></small>
    <hr>
    <small class="text-muted">Uploaded: <%= time_ago_in_words(image.created_at) %> ago</small>
    <% if image.user_id == current_user.id %>
        <p>

          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_image_path(image), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      image_path(image),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </p>

         <% end %>
  </div>
</div>
    <% end %>
