<%- model_class = Image -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
  <div class="pull-right">
  <%=render 'links' %>
</div>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @image.name %></dd>
  <dt><strong><%= @image.name %>:</strong></dt>
  <dd><%= image_tag @image.picture.url, size:'250x150', class: 'image-view pic' if @image.picture %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @image.user_id %></dd>
  <dd class="col-md-3 full-span">       </br>

  <%= render 'imageactions'%>
        </br></dd>
</dl>


